@import url("./font/Vazirmatn-font-face.css");

/* use all the screen */
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    direction: rtl;
    background-color: white;
    box-sizing: content-box;
}

*,
.ant-tag {
    font-family: Vazirmatn, sans-serif;
}

#root {
    display: flex;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .menu {
    padding-top: 30px;
    overflow: auto;
}

/* hide scroller */
.sidebar .menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* react logo */
.sidebar img {
    width: 50px;
    margin: 40px 0 10px 0;
}

/*override ant desgin style */
.sidebar .ant-menu-submenu-title {
    flex-direction: column;
    height: auto !important;
    overflow: visible !important;
    padding: 0 !important;
    padding: 15px 0 0 !important;
}

.ant-menu-submenu-title:hover,
.ant-menu-item:hover,
.ant-dropdown-menu-item-active {
    background-color: rgba(64, 150, 255, 0.06) !important;
    color: rgb(64, 150, 255) !important;
}

.sidebar ul {
    width: 150px;
    border-inline-end-style: none !important;
    background: transparent !important;
}

.sidebar ul li {
    padding: 0 !important;
    text-align: center;
}

.sidebar ul li svg {
    height: 30px;
    width: 30px;
}

.sidebar .ant-menu-submenu-arrow {
    display: none;
}

.sidebar .ant-badge-count {
    direction: ltr;
    line-height: normal !important;
}

.sidebar sup,
.main header sup {
    padding-top: 1px !important;
}

/* main */

.main {
    width: 100%;
    height: 100%;
}

/* header */
.main header {
    margin: 5px;
    display: flex;
    align-items: center;
}

.main header img {
    height: 30px;
    margin: 0 20px 0 5px;
}

.main header .arrowIcon svg {
    height: 10px;
    color: #05050584;
}

.main header .notification svg {
    height: 25px;
    width: 25px;
}

.main header .notification {
    cursor: pointer;
    border-radius: 50%;
    padding: 2.5px;
    transition: 0.25s linear;
}

.main header .notification:hover {
    background-color: rgba(64, 150, 255, 0.06);
    color: rgb(64, 150, 255);
    transition: 0.25s linear;
}

.main header .space {
    margin: 0 10px;
}

.main header .bgspace {
    margin: 0 20px;
}

.main header .row {
    display: flex;
    align-items: center;
}

.main header .row svg {
    vertical-align: 5px;
}

.main header .row .redIcon svg {
    padding-right: 2px;
    color: #ff4d4f;
}

.main header .row .blueIcon svg {
    color: rgb(64, 150, 255);
}

.main header .ant-avatar {
    border: 2px solid #1d4679;
    transition: 0.25s linear;
}

.main header .ant-dropdown-trigger:hover .ant-avatar {
    border: 2px solid rgb(64, 150, 255);
    transition: 0.25s linear;
}

.main header .ant-dropdown-trigger:hover .arrowIcon svg {
    color: rgb(64, 150, 255);
    transition: 0.25s linear;
}

/*override spacer color */

.main header .notification .ant-badge-count {
    direction: ltr;
    line-height: normal !important;
}

.main header .spacer {
    margin-right: auto;
}


.main header .ant-divider-vertical {
    height: 1.9em !important;
    border-inline-start: 2px solid #0505051b !important;
}

.main header .leftDirection {
    direction: ltr;
}

/* content */

.content {
    background-color: #f2f2f2;
    height: calc(100% - 68px);
    border-radius: 0 10px 0;
}

.content .ant-tabs-tab:first-child {
    margin: 0 10px 0 32px !important;
    padding: 0 16px !important;
}

/* override */

.content .ant-tabs-nav::before {
    border-bottom: 2px solid #0505051b !important;
}

/* tab page */

.tabPage {
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.tabPage h1 {
    font-size: 25px;
    margin: 0;
    padding-left: 10px;
}

.tabPage .btn {
    margin: 0 5px;
    height: 38px;
}

.tabPage .btn:last-child {
    margin: 0 5px 0 0;
}

.tabPage .spacer {
    margin: 0 auto 0 5px;
}

.tabPage .ant-breadcrumb-link {
    background-color: transparent !important;
}

.tabPage .square {
    color: #1d4679;
    border-color: #1d4679;
    width: 40px;
    background-color: #f2f2f2;
}

.tabPage .btn svg {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 4px;
}

.tabPage .primaryBtn {
    background-color: #1d4679;
}

/*doted badget */

.dotedBadget .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
}

.dotedBadget svg {
    transition: 0.25s linear;
}

.dotedBadget {
    color: inherit;
}

.ant-menu-submenu-title:hover svg {
    color: rgb(64, 150, 255) !important;
    transition: 0.25s linear;
}

/* notification */

.notification .ant-list-item-meta-avatar svg {
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    width: 30px;
}

.notification .ant-list-item-meta,
.ticket .ant-list-item-meta {
    align-items: center !important;
}

.notification .ant-list-item,
.ticket .ant-list-item {
    flex-direction: column;
    align-items: flex-start;
}

.notification .ant-list-item-meta-content,
.ticket .ant-list-item-meta-content {
    width: auto !important;
}

.notification .ant-list-item {
    position: relative;
    padding: 12px !important;
}

.notification .description {
    display: block;
    white-space: nowrap;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification .descriptionPart {
    display: flex;
    align-items: center;
}

.notification .closeBtn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 40px;
    color: rgba(0, 0, 0, 0.45);
    transition: 0.25s linear;
}

.notification .closeBtn:hover {
    color: #ff4d4f;
    transition: 0.25s linear;
}

.ant-popover {
    inset: 50.125px auto auto 10px !important;
}

.ant-popover-inner {
    padding: 0 !important;
    width: 350px;
}

.ant-popover-title {
    padding: 12px;
    margin-bottom: 0 !important;
    background-color: #f2f2f2;
}

.notification .ant-list-footer,
.ticket .ant-list-footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #0505051b;
}

.notification .ant-spin-container,
.ticket .ant-spin-container {
    margin: 5px;
    padding: 0 0 0 5px;
    height: 368px;
    overflow: auto;
}

.notification .ant-list-items li:last-child,
.ticket .ant-list-items li:last-child {
    border-bottom: none !important;
}

.notification .ant-spin-container::-webkit-scrollbar,
.ticket .ant-spin-container::-webkit-scrollbar {
    width: 5px;
}

.notification .ant-spin-container::-webkit-scrollbar-thumb,
.ticket .ant-spin-container::-webkit-scrollbar-thumb {
    background: #f2f2f2;
    border-radius: 5px;
}

.notification .ant-spin-container::-webkit-scrollbar-track,
.ticket .ant-spin-container::-webkit-scrollbar-track {
    background: #fff;
}

.notification .ant-divider-vertical,
.ticket .ant-divider-vertical {
    height: 1.9em !important;
    border-inline-start: 2px solid #0505051b !important;
}

.notification .ant-list-item,
.ticket .ant-list-item {
    border-block-end: 2px solid #0505051b !important;
}

.notification .danger svg {
    color: #ff4d4f;
    background-color: #ff4d4f22;
    border: 1px solid #ff4d4f;
    border-radius: 5px;
}

.notification .success svg {
    color: #52c41a;
    background-color: #52c41a22;
    border: 1px solid #52c41a;
    border-radius: 5px;
}

.ticket .ant-list-item {
    padding: 12px !important;
}

.ticket .descriptionPart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.ticket .descriptionPart p,
.ticket .descriptionPart span {
    margin: 3px;
}

.ticket .description {
    color: rgba(0, 0, 0, 0.45);
}