/* use all the screen */
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    direction: rtl;
    background-color: white;
    box-sizing: content-box;
}

#root {
    display: flex;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .menu{
    padding-top: 30px;
    overflow: auto;
}

/* hide scroller */
.sidebar .menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* react logo */
.sidebar img {
    width: 50px;
    margin: 40px 0 10px 0;
}

/*override ant desgin style */
.sidebar .ant-menu-submenu-title {
    flex-direction: column;
    height: auto !important;
    overflow: visible !important;
    padding: 0 !important;
}

.sidebar ul {
    width: 150px;
    border-inline-end-style: none !important;
    background: transparent !important;
}

.sidebar ul li {
    padding: 0 !important;
    text-align: center;
}

.sidebar ul li svg {
    height: 30px;
    width: 30px;
}

.sidebar .ant-menu-submenu-arrow {
    display: none;
}

.sidebar .ant-badge-count {
    direction: ltr;
    line-height: normal !important;
}

/* main */

.main {
    width: 100%;
    height: 100%;
}

/* header */
.main header{
    margin: 5px;
    display: flex;
    align-items: center;
}

.main header img{
    height: 30px;
    margin: 0 20px 0 5px;
}

/* content */

.content {
    background-color: #f2f2f2;
    height: calc(100% - 80px);
    border-radius: 0 10px 0;
    padding: 10px;
}

.content .ant-tabs-tab:first-child {
    margin: 0 0 0 32px !important;
}